<div class="login-view">
  <div class="card login-view__body">
    <div class="card-body text-center pt-5">
      <app-icon size="2rem" icon="coffee"></app-icon>
      <p>Bienvenido a SANITA</p>
      <h3>Ingrese con su cuenta</h3>

      <app-text-field [model]="form.username"></app-text-field>
      <app-password-field [model]="form.password"></app-password-field>

      <button [disabled]="!form.valid" (click)="login()" type="button" class="btn btn-block btn-primary">Ingresar</button>
      <pre *ngIf="loginState.isLoadingLogin$ | async">Loading...</pre>
    </div>
  </div>
</div>