<div class="app">
  <app-header></app-header>
  <app-loading-container [isLoading]="
  (loginState.isLoadingLogin$ | async) ||
  (loginState.isLoadingLogout$ | async)
  ">
    <ng-template #loadingTemplate>
      <app-spinner [fullScreen]="true" [overlay]=true></app-spinner>
    </ng-template>
    <div class="app__view-container">
      <app-toast-container></app-toast-container>
      <router-outlet></router-outlet>
    </div>
    <!-- <div class="app__version">{{ envService.envConfig.version }}</div> -->
  </app-loading-container>
</div>
