<div class="container-fluid">
  <table class="table">
    <thead class="bg-secondary">
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Rubro</th>
        <ng-container *ngIf="loginState.isLogged$ | async">
          <th scope="col">Precio</th>
          <th scope="col">Precio Trajeta</th>
          <ng-container *ngIf="(appState.currentUser$.get$ | async)?.role === 'ADMIN'">
            <th scope="col">Costo</th>
            <th scope="col">Utilidad</th>
            <th scope="col">Precio de Lista</th>
            <th scope="col">Acciones</th>
          </ng-container>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articleState.articles$ | async">
        <td>{{ article.codeString }}</td>
        <td>{{ article.description }}</td>
        <td>{{ article.category?.description }}</td>
        <ng-container *ngIf="loginState.isLogged$ | async">
          <td class="text-success">{{ article.price | currency }}</td>
          <td class="text-danger">{{ article.cardPrice | currency }}</td>
          <ng-container *ngIf="(appState.currentUser$.get$ | async)?.role === 'ADMIN'">
            <td>{{ article.cost | currency }}</td>
            <td>{{ article.utility * 100 }}%</td>
            <td>{{ article.listPrice | currency }}</td>
            <td class="text-center">
              <app-icon class="text-info" (click)="details(article)" icon="eye"></app-icon>
              <app-icon class="text-danger ml-2" (click)="openDeleteModal(deleteModal, article)" icon="trashAlt"></app-icon>
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #deleteModal>
  <app-article-delete-confirm (cancel)="closeModal()" (confirmDelete)="deleteArticle()"></app-article-delete-confirm>
</ng-template>