<div class="bulk-edit">
  <div class="">
    <app-view-header title="Actualizacion Masiva" subtitleColor="dark"
      subtitle="Actualice precio y otros valores muchos productos de forma simultanea"></app-view-header>
  </div>

  <app-loading-container class="d-flex justify-content-center" [isLoading]="bulkEditState.isLoadingBulkEdit$ | async">
    <ng-template #loadingTemplate>
      <app-spinner [overlay]="true"></app-spinner>
    </ng-template>

    <div class="d-block w-100">
      <!-- TABS -->
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>Por rango de codigos</a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="codeRange"></ng-container>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Sube un archivo</a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="fileUpload"></ng-container>
          </ng-template>
        </li>
      </ul>
      <!-- TAB CONTENT  -->
      <div class="d-flex justify-content-center p-5">
        <div class="bulk-edit__card card ">
          <div class="card-body">
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </div>
      </div>
    </div>
  </app-loading-container>
</div>

<ng-template #fileUpload>
  <!-- PROGRESS BAR -->
  <ng-container *ngIf="(bulkEditState.status$ | async)?.inProgress; else upload">
    <div class="alert alert-warning">
      <h4 class="alert-heading">Actualizando</h4>
      <p>Hay un proceso de actualizacion en curso.</p>
      <hr>
      <p class="mb-0">Por favor espere que el proceso actual finalice antes de comenzar uno nuevo.</p>
    </div>
    <ngb-progressbar
      type="warning"
      textType="dark" 
      [value]="formatStatus((bulkEditState.status$ | async).completed)"
      [showValue]="true">
    </ngb-progressbar>
  </ng-container>
  <!-- UPLOAD FILE FORM -->
  <ng-template #upload>
    <app-file-field [model]="form.fileField"></app-file-field>
    <div class="d-flex justify-content-end">
      <button [disabled]="form.fileField.invalid" (click)="uploadFile()" class="btn btn-block btn-primary">Subir</button>
    </div>
  </ng-template>
</ng-template>

<ng-template #codeRange>
  <div class="container-fluid">
    <div class="form-row">
      <app-text-field class="col-md-6" [model]="form.codeStartField"></app-text-field>
      <app-text-field class="col-md-6" [model]="form.codeEndField"></app-text-field>
    </div>
    <label>Precio</label>
    <div class=" card w-100">
      <div class="card-body">
        <div class="form-row">
          <app-radio-toggle class="col-md" [model]="form.typeOfIncreaseField"></app-radio-toggle>
          <app-number-field class="col-md mt-2" *ngIf="form.typeOfIncreaseField.value === 'percentage'"
            [model]="form.percentagePriceField"></app-number-field>
          <app-number-field class="col-md mt-2" *ngIf="form.typeOfIncreaseField.value === 'absolute'"
            [model]="form.absolutePriceField"></app-number-field>
        </div>
      </div>
    </div>

    <div class="form-row">
      <app-number-field class="col mt-2" [model]="form.utilityField"></app-number-field>
    </div>

    <div class="form-row">
      <app-number-field class="col-md mt-2" [model]="form.vatField"></app-number-field>
      <app-number-field class="col-md mt-2" [model]="form.transportField"></app-number-field>
      <app-number-field class="col-md mt-2" [model]="form.cardField"></app-number-field>
    </div>

    <div class="form-row">
      <button (click)="update()" [disabled]="!form.valid" class="btn btn-block btn-primary">Actualizar</button>
    </div>
  </div>
</ng-template>