<div class="profile">
  <app-view-header
    title="Perfil"
    subtitle="Aqui puedes ver los datos de tu cuenta."
    subtitleColor="dark"
  ></app-view-header>
  <div class="profile__picture">
    <app-icon icon="userCircle" size="10rem"></app-icon>
  </div>
  <h2 class="text-center">{{ (appState.currentUser$.get$ | async)?.firstName }} {{ (appState.currentUser$.get$ | async)?.lastName }}</h2>
  <p class="text-center text-secondary">{{ (appState.currentUser$.get$ | async)?.email }}</p>
  <p class="text-center text-secondary">{{ (appState.currentUser$.get$ | async)?.role }}</p>
</div>