<div class="articles">
  <div class="articles__background">
    <app-view-header [color]="'success'" imgSrc='../../../assets/images/articles-bg.jpg' title="Productos"
      subtitleColor="warning" subtitle="Filtre y ordene nuestra lista de productos"></app-view-header>
  </div>

  <app-loading-container [isLoading]="
    (articlesState.isLoadingArticles$ | async) ||
    (articlesState.isLoadingNextArticles$ | async)
  ">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/private/articles/create']" class="btn btn-block btn-success text-light">
          <app-icon icon="plus"></app-icon>
          Nuevo Producto
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-2">
        <app-text-field [model]="form.searchField"></app-text-field>
      </div>
      <div class="col-md-4 col-sm-8 d-flex align-items-center">
        <app-radio-toggle color="secondary" [model]="form.searchByField"></app-radio-toggle>
      </div>
      <div class="col-md-4 col-sm-4 justify-content-end d-flex align-items-center">
        <app-select-field type="dropdown" [model]="form.orderByField"></app-select-field>
        <app-radio-toggle color="secondary" class="ml-1" [model]="form.sortOrderField"></app-radio-toggle>
      </div>
    </div>
  </div>
    <div class="d-flex justify-content-center flex-column mt-2">
      <ng-template #loadingTemplate>
        <app-spinner [overlay]="true"></app-spinner>
      </ng-template>
      <div *ngIf="false; else articleList" class="articles-list card-group">
        <app-article-card *ngFor="let article of articlesState.articles$ | async" [article]="article"></app-article-card>
      </div>
      <button class="btn btn-link" (click)="viewMore()">Ver mas</button>
    </div>
  </app-loading-container>
</div>

<ng-template #articleList>
  <app-article-list></app-article-list>
</ng-template>